$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$breakpoints: (
        'sm': $breakpoint-sm,
        'md': $breakpoint-md,
        'lg': $breakpoint-lg,
        'xl': $breakpoint-xl,
        'xxl': $breakpoint-xxl,
);


$color-primary: #FF6A00;
$color-white: #FFFFFF;
$color-black: #1A1A1A;
$color-grey: #CED5D9;
$color-grey-bg: #F1F1F1;
$color-green: #1AB117;

$colors: (
        'primary': $color-primary,
        'white': $color-white,
        'black': $color-black,
        'grey': $color-grey,
        'grey-bg': $color-grey-bg,
        'green': $color-green,
);
