@use "sass:math";
@import '@/styles/index';

.deals {
    &__bannerContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: color('white');

        > h1 {
            @include banner-title;
        }
        > p {
            @include banner-description;
            text-align: center;
            margin-bottom: px-to-rem(16);
        }
    }
    &__tabContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: color('grey-bg');
        padding-bottom: px-to-rem(16);

        &-head {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            padding: px-to-rem(16) 0;

            > h2 {
                font-size: px-to-rem(15);
                color: color('black');
                text-align: center;
            }
            > p {
                font-size: px-to-rem(12);
                color: color('black');
                text-align: center;
            }
        }
    }
}
